:root {
  --dark-blue: 209, 23%, 22%;
  --very-dark-blue-bg: 207, 26%, 17%;
  --very-dark-blue-text: 200, 15%, 8%;
  --dark-gray-input: 0, 0%, 52%;
  --very-light-gray-bg: 0, 0%, 98%;
  --white: 0, 0%, 100%;

  --home-page-text-size: 14px;
  --details-text-size: 16px;

  --base-font: Nunito Sans
}

body {
  margin: 0;
  font-family: var(--base-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root { 
  height: 100vh;
}